.border-between > [class*='col-']:before {
  background: #e3e3e3;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0; }

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.white-bg {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 0;
  width: 80%;
  margin: auto;
  margin-top: 30px; }

.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:after {
  left: 1.5em; }

header {
  background-color: #fff; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em; } }
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em; } }
.border-between > [class*='col-']:first-child:before {
  display: none; }

.float-right {
  float: right; }

.rem-me {
  margin-top: 6px; }

.xs-checkbox {
  cursor: pointer;
  min-height: 25px;
  background: #fff url(../images/uncheck.png) 0 0 no-repeat;
  padding-left: 35px; }
  .xs-checkbox label {
    cursor: pointer; }
  .xs-checkbox input[type=checkbox] {
    display: none; }
  .xs-checkbox.checked {
    background: #fff url(../images/check.png) 0 0 no-repeat; }

.sep-or {
  line-height: 40px;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 20;
  color: #ffffff;
  background-color: #e84030;
  font-weight: bold; }
  .sep-or:before {
    position: absolute;
    height: 100%;
    content: ' ';
    background-color: #000; }

.no-bm {
  margin-bottom: 0 !important; }

.vmid {
  width: 100%;
  height: 100%;
  border: 0px solid #000 !important;
  letter-spacing: 0px; }
  .vmid tr, .vmid td {
    border: 0px solid #000 !important; }
  .vmid td {
    vertical-align: middle;
    padding: 0;
    border: 0px solid #000; }

.sep-line {
  left: 50%;
  position: absolute;
  z-index: 19;
  height: 100%;
  width: 1px;
  background-color: #c2c2c2; }

.xs-error {
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #e30613; }

.xs-info {
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #0d98e8; }

.xs-success {
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #34cb56; }

.fb-btn {
  padding: 8px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: #3b5998; }
  .fb-btn:hover {
    background-color: #2d4373;
    text-decoration: none;
    color: #ffffff; }
  .fb-btn i {
    width: 40px;
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    border-right: 1px solid #1e2e4f; }

.tw-btn {
  padding: 8px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: #1dcaff; }
  .tw-btn:hover {
    background-color: #00b2e9;
    text-decoration: none;
    color: #ffffff; }
  .tw-btn i {
    width: 40px;
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    border-right: 1px solid #008bb6; }

.green-btn {
  padding: 8px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: #2aa447; }
  .green-btn:hover {
    background-color: #207b35;
    text-decoration: none;
    color: #ffffff; }
  .green-btn i {
    width: 40px;
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    border-right: 1px solid #155324; }

.gp-btn {
  padding: 8px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: #d34836; }
  .gp-btn:hover {
    background-color: #b03626;
    text-decoration: none;
    color: #ffffff; }
  .gp-btn i {
    width: 40px;
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    border-right: 1px solid #86291d; }

.fb-btn, .tw-btn, .gp-btn {
  display: block !important;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .fb-btn, .tw-btn, .gp-btn {
      width: 240px; } }

#logo {
  margin: 15px 0;
  display: inline-block; }

.img-responsive {
  max-width: 100% !important;
  height: auto !important; }

.pro-holder {
  border: 1px solid #bfbfbf;
  margin-bottom: 20px;
  display: block;
  width: 100%; }
  .pro-holder .img {
    display: block;
    background-color: #dadada; }
    .pro-holder .img img {
      max-width: 100%;
      height: auto; }
  .pro-holder .desc {
    padding: 8px;
    background-color: #f9f9f9; }

#user-menu {
  float: right; }
  #user-menu ul {
    list-style: none; }
    #user-menu ul li {
      float: left; }
      #user-menu ul li a {
        float: left;
        padding: 10px 0;
        display: block;
        float: left;
        text-decoration: none;
        font-size: 13px;
        margin-left: 20px; }
        #user-menu ul li a i {
          margin-right: 6px; }
        #user-menu ul li a:hover {
          color: #a2a2a2; }

.login-submit {
  margin-bottom: 0; }

.pre-header {
  height: 40px;
  background-color: #424242; }
  .pre-header a {
    color: #ffffff; }

.main-nav.small-height {
  height: auto !important; }

.product-quantity {
  display: none; }

.small-section {
  padding: 20px 0 !important; }
  .small-section h1 {
    margin-bottom: 0; }

.xs-form-p label {
  display: block;
  margin-bottom: 3px; }
.xs-form-p input[type=text],
.xs-form-p input[type=password],
.xs-form-p textarea, .xs-form-p select {
  width: 100%;
  padding: 8px;
  display: block;
  border: 3px solid #E0E0E0;
  margin-bottom: 10px; }
.xs-form-p input[type=submit],
.xs-form-p button[type=submit] {
  border: 0px;
  margin-bottom: 10px;
  padding: 8px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: #2aa447;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase; }
  .xs-form-p input[type=submit]:hover,
  .xs-form-p button[type=submit]:hover {
    background-color: #207b35;
    text-decoration: none;
    color: #ffffff; }
  .xs-form-p input[type=submit] i,
  .xs-form-p button[type=submit] i {
    width: 40px;
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    border-right: 1px solid #155324; }
  .xs-form-p input[type=submit] i,
  .xs-form-p button[type=submit] i {
    display: none;
    border-right: 0px;
    width: 20px; }
  .xs-form-p input[type=submit].xs-loading i,
  .xs-form-p button[type=submit].xs-loading i {
    display: inline-block; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.xs-overlay {
  text-align: center;
  text-transform: none !important;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5); }
  .xs-overlay .close-btn {
    width: 40px;
    height: 40px;
    z-index: 100;
    line-height: 40px;
    text-align: center;
    position: absolute;
    background-color: red;
    right: 0;
    top: 0;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    color: #fff; }
    .xs-overlay .close-btn:hover {
      color: #fff; }
  .xs-overlay table {
    font-family: sans-serif;
    border: 0 solid #000;
    width: 100%;
    height: 100%; }
    .xs-overlay table tr td {
      vertical-align: middle;
      text-align: center; }
  .xs-overlay .inner {
    position: relative;
    max-width: 700px;
    margin: auto;
    width: 100%;
    letter-spacing: normal;
    padding: 20px;
    background-color: #222220; }
    .xs-overlay .inner h1 {
      line-height: 1;
      margin-bottom: 10px;
      color: #fff;
      font-size: 22px; }
    .xs-overlay .inner h2 {
      margin-top: 0;
      line-height: 1.2;
      margin-bottom: 10px; }
  .xs-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .xs-overlay ul li {
      text-transform: none; }
  .xs-overlay h4 {
    text-align: center;
    text-style: italic;
    font-size: 13px; }
  .xs-overlay form input[type=text] {
    width: 100%;
    border: 2px solid #ffec01;
    background-color: transparent;
    color: #ffec01;
    padding: 8px 10px; }
  .xs-overlay form button[type=submit] {
    padding: 10px;
    border: 0 solid #ffec01;
    text-transform: uppercase;
    color: #000;
    background-color: #ffec01;
    width: 100%; }
  .xs-overlay h1.big {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    margin-top: 15px;
    color: #ffec01; }

.xs-newsletter {
  display: none; }

.transparent-white {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;
  font-size: 16px; }
  .transparent-white h1 {
    margin-top: 0;
    margin-bottom: 20px; }

.form-header {
  text-transform: uppercase;
  color: #e30613;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 30px !important;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid #e30613;
  display: block;
  clear: both; }

.no-overflow {
  overflow: hidden; }

.scroll-div {
  overflow-y: auto; }

.xs-page-title {
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-bottom: 8px;
  margin-top: 0;
  line-height: 1.2; }

/*# sourceMappingURL=style.css.map */
